pipeline/Main_Ingestion.json
{
	"name": "Main_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Table_Retrieval",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select table_name from dbo.pipeline_control\nwhere is_active = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set_Run_Timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_timestamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_Run_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_date",
					"value": {
						"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Table_Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Table_Retrieval",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_Run_Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_Run_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Table_Retrieval').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Sql_to_bronze_copy",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Sql_to_bronze_copy",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"is_backfill": {
										"value": "@pipeline().parameters.is_backfill",
										"type": "Expression"
									},
									"backfill_date": {
										"value": "@pipeline().parameters.backfill_date",
										"type": "Expression"
									},
									"v_run_timestamp": {
										"value": "@variables('v_run_timestamp')",
										"type": "Expression"
									},
									"v_run_date": {
										"value": "@variables('v_run_date')",
										"type": "Expression"
									},
									"folder_name": {
										"value": "@item().table_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"is_backfill": {
				"type": "bool"
			},
			"backfill_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_run_timestamp": {
				"type": "String"
			},
			"v_run_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}