pipeline/Master_Data.json
{
	"name": "Master_Data",
	"properties": {
		"activities": [
			{
				"name": "Folder_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_date",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "File_Timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_run_timestamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Folder_name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "File_Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.table_name}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sql_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "bronze_dataset",
						"type": "DatasetReference",
						"parameters": {
							"folder_path": {
								"value": "@concat(pipeline().parameters.table_name,'/ingestion_date=',variables('v_run_date'))",
								"type": "Expression"
							},
							"file_name": {
								"value": "@concat(pipeline().parameters.table_name,'_',variables('v_run_timestamp'),'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			}
		},
		"variables": {
			"v_run_timestamp": {
				"type": "String"
			},
			"v_run_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}