spotifyashishfactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "spotifyashishfactory"
		},
		"ADLS_linked_Service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_linked_Service'"
		},
		"Sql_linked_service_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sql_linked_service'"
		},
		"ADLS_linked_Service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://spotifyashishstorage.dfs.core.windows.net/"
		},
		"Sql_linked_service_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqldb-spotify.database.windows.net"
		},
		"Sql_linked_service_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "spotify_sqldb_oltp"
		},
		"Sql_linked_service_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "spotifyserver"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Main_Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Table_Retrieval",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select table_name from dbo.pipeline_control\nwhere is_active = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Sql_dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set_Run_Timestamp",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_run_timestamp",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_Run_date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_run_date",
							"value": {
								"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Table_Iterator",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Table_Retrieval",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set_Run_Timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set_Run_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Table_Retrieval').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Sql_to_bronze_copy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Sql_to_bronze_copy",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"is_backfill": {
												"value": "@pipeline().parameters.is_backfill",
												"type": "Expression"
											},
											"backfill_date": {
												"value": "@pipeline().parameters.backfill_date",
												"type": "Expression"
											},
											"v_run_timestamp": {
												"value": "@variables('v_run_timestamp')",
												"type": "Expression"
											},
											"v_run_date": {
												"value": "@variables('v_run_date')",
												"type": "Expression"
											},
											"folder_name": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"is_backfill": {
						"type": "bool"
					},
					"backfill_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_run_timestamp": {
						"type": "String"
					},
					"v_run_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Sql_dataset')]",
				"[concat(variables('factoryId'), '/pipelines/Sql_to_bronze_copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Folder_name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_run_date",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "File_Timestamp",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_run_timestamp",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Folder_name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "File_Timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.table_name}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Sql_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": {
										"value": "@concat(pipeline().parameters.table_name,'/ingestion_date=',variables('v_run_date'))",
										"type": "Expression"
									},
									"file_name": {
										"value": "@concat(pipeline().parameters.table_name,'_',variables('v_run_timestamp'),'.parquet')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"variables": {
					"v_run_timestamp": {
						"type": "String"
					},
					"v_run_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Sql_dataset')]",
				"[concat(variables('factoryId'), '/datasets/bronze_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sql_to_bronze_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If_backfill",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup_old_watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.is_backfill,true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set_effective_watermark",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "effective_watermark",
										"value": {
											"value": "@activity('Lookup_old_watermark').output.firstRow.last_watermark_value",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set_effective_backdate",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "effective_watermark",
										"value": {
											"value": "@pipeline().parameters.backfill_date",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_old_watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n'SELECT last_watermark_value \n FROM dbo.pipeline_control \n WHERE table_name = ''',\npipeline().parameters.folder_name,\n''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Sql_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Sql_to_bronze",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "If_backfill",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.folder_name}\nwhere watermark_ts > '@{variables('effective_watermark')}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Sql_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze_dataset",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": {
										"value": "@concat(pipeline().parameters.folder_name,'/ingestion_date=',pipeline().parameters.v_run_date)",
										"type": "Expression"
									},
									"file_name": {
										"value": "@concat(\npipeline().parameters.folder_name,\n'_',\npipeline().parameters.v_run_timestamp,\n'.parquet'\n)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "If_rowscopied",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Sql_to_bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Sql_to_bronze').output.rowsCopied, 0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "New_Watermark_lookup",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT MAX(watermark_ts) AS new_watermark\nFROM @{pipeline().parameters.folder_name}\nWHERE watermark_ts > '@{variables('effective_watermark')}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Sql_dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "SP_Update_Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "New_Watermark_lookup",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_update_watermark]",
										"storedProcedureParameters": {
											"table_name": {
												"value": {
													"value": "@pipeline().parameters.folder_name",
													"type": "Expression"
												},
												"type": "String"
											},
											"new_watermark": {
												"value": {
													"value": "@activity('New_Watermark_lookup').output.firstRow.new_watermark",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Sql_linked_service",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"is_backfill": {
						"type": "bool"
					},
					"backfill_date": {
						"type": "string"
					},
					"v_run_timestamp": {
						"type": "string"
					},
					"v_run_date": {
						"type": "string"
					},
					"folder_name": {
						"type": "string"
					}
				},
				"variables": {
					"effective_watermark": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Sql_dataset')]",
				"[concat(variables('factoryId'), '/datasets/bronze_dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/Sql_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sql_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sql_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Sql_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_linked_Service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_path": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder_path",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_linked_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_linked_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_linked_Service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_linked_Service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sql_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Sql_linked_service_properties_typeProperties_server')]",
					"database": "[parameters('Sql_linked_service_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Sql_linked_service_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sql_linked_service_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}